DES/Web/App_WebReferences/ServiceFinanzas/informacion_ws_server.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://10.1.65.9/pruebas/serviciosws/informacion_ws_server.php" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://10.1.65.9/pruebas/serviciosws/informacion_ws_server.php" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://10.1.65.9/pruebas/serviciosws/informacion_ws_server.php">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <xsd:complexType name="tipo_pregunta">
        <xsd:all>
          <xsd:element name="lc" type="xsd:string" />
          <xsd:element name="ref" type="xsd:string" />
          <xsd:element name="tipopago" type="xsd:decimal" />
          <xsd:element name="sucursal" type="xsd:decimal" />
          <xsd:element name="importe" type="xsd:decimal" />
          <xsd:element name="usuario" type="xsd:string" />
          <xsd:element name="password" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="tipo_pregunta_cancela">
        <xsd:all>
          <xsd:element name="lc" type="xsd:string" />
          <xsd:element name="ref" type="xsd:string" />
          <xsd:element name="sucursal" type="xsd:decimal" />
          <xsd:element name="importe" type="xsd:decimal" />
          <xsd:element name="usuario" type="xsd:string" />
          <xsd:element name="password" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="tipo_respuesta">
        <xsd:all>
          <xsd:element name="secuencia_trans" type="xsd:decimal" />
          <xsd:element name="error" type="xsd:decimal" />
          <xsd:element name="error_descripcion" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="tipo_respuesta_cancela">
        <xsd:all>
          <xsd:element name="error" type="xsd:decimal" />
          <xsd:element name="error_descripcion" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="registrar_pagoRequest">
    <wsdl:part name="pregunta" type="tns:tipo_pregunta" />
  </wsdl:message>
  <wsdl:message name="registrar_pagoResponse">
    <wsdl:part name="respuesta" type="tns:tipo_respuesta" />
  </wsdl:message>
  <wsdl:message name="cancelar_pagoRequest">
    <wsdl:part name="pregunta" type="tns:tipo_pregunta_cancela" />
  </wsdl:message>
  <wsdl:message name="cancelar_pagoResponse">
    <wsdl:part name="respuesta" type="tns:tipo_respuesta_cancela" />
  </wsdl:message>
  <wsdl:portType name="ServicesPortType">
    <wsdl:operation name="registrar_pago">
      <documentation>Registra pago de banco</documentation>
      <wsdl:input message="tns:registrar_pagoRequest" />
      <wsdl:output message="tns:registrar_pagoResponse" />
    </wsdl:operation>
    <wsdl:operation name="cancelar_pago">
      <documentation>Registra pago de banco</documentation>
      <wsdl:input message="tns:cancelar_pagoRequest" />
      <wsdl:output message="tns:cancelar_pagoResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicesBinding" type="tns:ServicesPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="registrar_pago">
      <soap:operation soapAction="rpc" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://10.1.65.9/pruebas/serviciosws/informacion_ws_server.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://10.1.65.9/pruebas/serviciosws/informacion_ws_server.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelar_pago">
      <soap:operation soapAction="rpc" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://10.1.65.9/pruebas/serviciosws/informacion_ws_server.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://10.1.65.9/pruebas/serviciosws/informacion_ws_server.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Services">
    <wsdl:port name="ServicesPort" binding="tns:ServicesBinding">
      <soap:address location="http://www.finanzas.df.gob.mx/pruebas/serviciosws/informacion_ws_server.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>