DES/Web/App_WebReferences/ServiceRCON/RegistroContribuyentesService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DseHistorico" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseHistorico" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.RegistroContribuyentes.Services.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any namespace="http://tempuri.org/DseHistorico.xsd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DseCiudades" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseCiudades" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.RegistroContribuyentes.Services.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any namespace="http://tempuri.org/DseCiudades.xsd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataSet" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:element ref="xs:schema" />
        <xs:any />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DseInfoContribuyente" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseInfoContribuyente" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.RegistroContribuyentes.Services.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any namespace="http://tempuri.org/DseInfoContribuyente.xsd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DseDatosRepresentacion" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseDatosRepresentacion" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.RegistroContribuyentes.Services.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any namespace="http://tempuri.org/DseDatosRepresentacion.xsd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DseInfoDirecciones" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseInfoDirecciones" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.RegistroContribuyentes.Services.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any namespace="http://tempuri.org/DseInfoDirecciones.xsd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DseInfoNotarios" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseInfoNotarios" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.RegistroContribuyentes.Services.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any namespace="http://tempuri.org/DseInfoNotarios.xsd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DseInmuebleDireccion" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseInmuebleDireccion" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.RegistroContribuyentes.Services.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any namespace="http://tempuri.org/DseInmuebleDireccion.xsd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DseContribuyentes" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseContribuyentes" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.RegistroContribuyentes.Services.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any namespace="http://tempuri.org/DseContribuyentes.xsd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DsePersonasSimilares" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DsePersonasSimilares" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.RegistroContribuyentes.Services.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any namespace="http://tempuri.org/DsePersonasSimilares.xsd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DseDireccionesInmueble" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseDireccionesInmueble" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.RegistroContribuyentes.Services.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any namespace="http://tempuri.org/DseDireccionesInmueble.xsd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DseNotarios" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseNotarios" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.RegistroContribuyentes.Services.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any namespace="http://tempuri.org/DseNotarios.xsd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DseAsentamientos" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseAsentamientos" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.RegistroContribuyentes.Services.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any namespace="http://tempuri.org/DseAsentamientos.xsd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DseMunicipios" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseMunicipios" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.RegistroContribuyentes.Services.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any namespace="http://tempuri.org/DseMunicipios.xsd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DseEstados" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseEstados" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.RegistroContribuyentes.Services.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any namespace="http://tempuri.org/DseEstados.xsd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DseCatalogos" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseCatalogos" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.RegistroContribuyentes.Services.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any namespace="http://tempuri.org/DseCatalogos.xsd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DseColoniaAsentamiento" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseColoniaAsentamiento" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.RegistroContribuyentes.Services.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any namespace="http://tempuri.org/DseColoniaAsentamiento.xsd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>