DES/Services/Service References/ServiceFiscalEmision/Emision810.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.Emision.Services.ServiceAdministracion" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.Emision.Services.ServiceAdministracion" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DseAdministracion.FIS_FECHASVIGENCIADataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseAdministracion.FIS_FECHASVIGENCIADataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.Emision.Services.ServiceAdministracion" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/DseAdministracion.xsd" name="namespace" />
      <xs:attribute fixed="FIS_FECHASVIGENCIADataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
</xs:schema>