DES/Services/Service References/ServiceCatastral/ConsultaCatastralService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SIGAPred.Catastral.Consulta.Services.Negocio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SIGAPred.Catastral.Consulta.Services.Negocio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="InfoBaja">
    <xs:sequence>
      <xs:element name="IdInmueble" type="xs:decimal" />
      <xs:element name="IsDeleted" type="xs:boolean" />
      <xs:element name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InfoBaja" nillable="true" type="tns:InfoBaja" />
  <xs:complexType name="ArrayOfDelegacionManzana">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DelegacionManzana" nillable="true" type="tns:DelegacionManzana" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDelegacionManzana" nillable="true" type="tns:ArrayOfDelegacionManzana" />
  <xs:complexType name="DelegacionManzana">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClaveDelegacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdManzana" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DelegacionManzana" nillable="true" type="tns:DelegacionManzana" />
  <xs:complexType name="ArrayOfCartaDelegacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CartaDelegacion" nillable="true" type="tns:CartaDelegacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCartaDelegacion" nillable="true" type="tns:ArrayOfCartaDelegacion" />
  <xs:complexType name="CartaDelegacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClaveDelegacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreCarta" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CartaDelegacion" nillable="true" type="tns:CartaDelegacion" />
</xs:schema>